.app {
    display: grid;
    grid-template-rows: auto 1fr;
    grid-template-columns: 1fr;
    height: 100vh;
}

.top-menu {
    grid-column: span 1;
    padding-bottom: 10vh;
}


.units-view {
    display:grid;
    /* A padding column on left and right, keeping the three central ones with a 2:3:2 ratio. */
    grid-template-columns: 1fr 2fr 3fr 2fr 1fr;
}

.left-bar {
    grid-column: 2;
}

.center-bar{
    grid-column: 3;
}

.right-bar {
    grid-column: 4;
}


.roster-view {
    display:flex;
}


.label{
    font-weight: bold;  /* Thick style */
    padding: 16px;
    background-color: transparent;  /* Light gray background for visibility */
    text-align: left;
    font-size: 24px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-weight: bold;
}


/*TOP MENU*/
.top-menu {
    display: grid;
    grid-template-rows: auto 0.3fr;
    vertical-align: middle;
}

.title {
    text-align: center;
    background-color: transparent;
    border: none;
    padding: 12px 0px;
    vertical-align: middle;
    text-decoration: none;
    font-size: 1.6rem;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-weight: bold; /* Make the font bold */
    text-transform: uppercase;
}

.menu {
    text-align: center;
    background-color: transparent;
    border: none;
    padding: 0px 0px;
    vertical-align: middle;
    text-decoration: none;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-weight: bold; /* Make the font bold */
    text-transform: uppercase;
}

.top-menu button {
    background-color: transparent;
    border: none;
    padding: 8px 48px;
    text-align: center;
    vertical-align: middle;
    text-decoration: none;
    display: inline-block;
    cursor: pointer;
    font-weight: bold; /* Make the font bold */
    text-transform: uppercase;
}

.top-menu button:hover {
    background-color: rgba(220, 220, 220, 0.5);
    transition: 0.7s;
}


/* SIDE BARS */

.left-bar, .right-bar {
    background-color: transparent;
    padding: 10px;
    box-sizing: border-box;
    overflow: visible;
    width: auto;
}

.left-bar button, .right-bar button, .central-area button {
    display: block; /* This ensures each button is on a new line */
    background-color: transparent;
    border: none;
    padding: 15px 12px;
    text-decoration: none;
    font-size: 16px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    margin: 4px 2px;
    cursor: pointer;
    font-weight: bold;
    width: 100%;
}

.left-bar button:hover, .right-bar button:hover, .central-area button:hover {
    background-color: rgba(220, 220, 220, 0.5);
    transition: 0.7s;
}

.button:hover {
    background-color: rgba(220, 220, 220, 0.5);
    transition: 0.7s;
}

.left-bar button {
    text-align: left;
}

.right-bar button {
    text-align: right;
}

.left-bar {
    text-align: left; /* This ensures content in the left bar is left-aligned */
    align-items: left;
}

.right-bar {
    text-align: right; /* This ensures content in the right bar is right-aligned */
    align-items: right;
}



.left-menu {
    overflow: visible;
    transition: max-height 0.5s ease;
    max-height: 500px; /* Adjust based on the height of the menu button */
}

.left-menu.expanded {
    max-height: 600px; /* Adjust based on the maximum height you expect the menu to be */
}

.left-menu-content {
    overflow: hidden;
    transition: opacity 0.5s ease;
    opacity: 0;
    height: 0;
}

.left-menu.expanded .left-menu-content {
    opacity: 1;
    height: auto;
}

.left-bar .left-menu > button {
    font-size: 20px; /* Adjust this value to your preference */
    text-transform: uppercase;
}

.button.selected {
    background-color: grey;
    /* Other styles for selected profile button */
}


/* PROFILE LAYOUT */

.profile-details {
    display: grid;
    justify-content: space-evenly;
    height:auto;
    padding: 10px;
    grid-template-rows: auto 60 px;
    grid-template-columns: 1fr 1fr 1fr;
}

.profile-name {
    text-align: center;
    grid-column: span 3;
    grid-row: 1;

    /* Bottom border */
    border-bottom: 4px solid #666;
    border-radius: 2px;

    font-weight: bold;  /* Thick style */
    text-transform: uppercase;
    padding: 18px;
    background-color: transparent;  /* Light gray background for visibility */
    font-size: 24px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-weight: bold;
}

.profile-description {
    text-align: center;
    grid-column: span 3;
    grid-row: 2;

    font-variant: small-caps;
    font-weight: bold;  /* Thick style */
    padding: 12px;
    background-color: transparent;  /* Light gray background for visibility */
    font-size: 24px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-weight: bold;
}

.profile-stats {
    display: grid;
    grid-column: span 3;
    grid-row: 3;

    /* Bottom border */
    border-bottom: 4px solid #666;
    border-radius: 2px;

    justify-content: space-around;
    /* Additional styles for the profile stats */

    font-variant: small-caps;
    font-weight: bold;  /* Thick style */
    padding: 12px;
    background-color: transparent;  /* Light gray background for visibility */
    font-size: 18px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-weight: bold;
}

.profile-stats-cmd { 
    grid-column: 1;
    grid-row: 1;
}

.profile-stats-def { 
    grid-column: 2;
    grid-row: 1;
}

.profile-stats-save { 
    grid-column: 3;
    grid-row: 1;
}

.profile-stats-move { 
    grid-column: 1;
    grid-row: 2;
}

.profile-stats-shoot { 
    grid-column: 2;
    grid-row: 2;
}

.profile-stats-melee { 
    grid-column: 3;
    grid-row: 2;
}

.profile-special-abilities {
    grid-column: span 3;
    grid-row: 4;

    font-weight: bold;  /* Thick style */
    text-align: center;
    font-variant: small-caps;
    padding: 12px;
    background-color: transparent;  /* Light gray background for visibility */
    font-size: 18px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-weight: bold;
}

.damage-chart {
    grid-column: span 3;
    grid-row: 5;

    display: grid;
    grid-template-columns: repeat(6, 1fr);
    grid-template-rows: auto auto; 

    /* Top border */
    border-top: 4px solid #666;
    border-radius: 2px;

    text-transform: uppercase;
    font-weight: bold;  /* Thick style */
    text-align: center;
    padding: 16px;
    background-color: transparent;  /* Light gray background for visibility */
    font-size: 24px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-weight: bold;
}

.left-bar .profile-actions {
    position: fixed;
    bottom: 0;
    width: 100%;
}

/* MODAL STYLE */

.modal {
    position: fixed;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(255, 255, 255, 0.5);
    display: flex;
    justify-content: center;
    align-items: center;
}
.modal-content {
    font-weight: bold;  /* Thick style */
    padding: 16px;
    background-color: transparent;  /* Light gray background for visibility */
    text-align: center;
    font-size: 24px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-weight: bold;
    font-variant: small-caps;
}

.modal-content button {
    border: none;
    text-decoration: none;
    font-size: 16px;
    font-family: inherit;
    margin: 12px 12px;
    cursor: pointer;
    font-weight: bold;
    width: 100%;
}

.modal-content button:hover {
    background-color: rgba(220, 220, 220, 0.5);
    transition: 0.7s;
}


.modal-header {
    text-transform: uppercase;
    border-bottom: 4px solid #666;
    border-radius: 2px;
    margin-bottom: 24px;
}

.modal-footer {
    text-transform: uppercase;
    margin-top: 24px;
    font-size: 16px;
    border-top: 4px solid #666;
    border-radius: 2px;
}
